<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--url重写配置节点-->
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>
  <urlrewritingnet configSource="Rewrite.config" />
  <!-- appSettings网站信息配置-->
  <appSettings>
    <add key="GUID" value="1237-43534-45654-56765-78978" />
    <add key="UcenterWebserver" value="http://www.beijingdiban.cn" />
    <add key="web_host" value="/" />
    <add key="web_name" value="ROYcms系统官方站点" />
    <add key="web_forge" value=".aspx" />
    <add key="WEBSITE_UP_FILES" value="~/Website_Up_Files/" />
    <add key="templet_language" value="UTF-8" />
    <add key="templet_root" value="templet" />
    <add key="templet_file" value="default" />
    <add key="DateType" value="SqlServer" />
    <add key="ConStringEncrypt" value="false" />
    <add key="password" value="rongyicms" />
    <add key="HTML" value="false" />
    <add key="HTML_zip" value="false" />
    <add key="date_prefix" value="ROYcms_" />
    <add key="FileManager_root" value="*" />
    <add key="FileManager_file_type" value="xml,aspx,txt,css,js,ascx,sql,cs,htm" />
    <add key="logo" value="http://www.beijingdiban.cn/images/logo.jpg" />
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=127.0.0.1;User ID=sa;Password=123;Initial Catalog=ROYcms;Pooling=true" />
  </connectionStrings>
  <system.web>
    <!--<sessionState mode="Custom" cookieless="true" timeout="20"/>-->
    <compilation debug="true" />
    <authentication mode="Windows" />
    <globalization requestEncoding="gb2312" responseEncoding="gb2312" />
    <customErrors mode="Off" defaultRedirect="Error.html">
    </customErrors>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
  </system.web>
  
</configuration>