@charset "utf-8";
/*ROYcms_font
updatetime:2009.12.14
editor:Jackying
QQ: 270863798
E-mail: admin@anan360.cn
Website: http://www.roycms.cn    http://www.web1.net.cn		http://www.anan360.cn*/
/*===========================版权所有==============================================*/
/*文字样式*/
a{ color:#2C6ED5}
a:hover{ color:#FF8300;}
.en{ font-family:Arial, Helvetica, sans-serif;}
.font_333{color:#333;}
.font_666{color:#666;}
.font_s12{font-size:12px; font-weight:normal;}
.font_2C6ED5,.font_2C6ED5 a{ color:#2C6ED5;}
