<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>d:\Users\roycms\Desktop\ROYcms.UI.Admin.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>dns</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionString203.171.234.7@__ROYcms" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="1E7C6E42B4E6E122BFE1FFBBBBA22F382F6AEA49D877A92AE79F364641CEC19C6A798909BFF832424609DE492D768E0DF9E72DA370E5714EFE31FC6965855DF09C2CB0BE014801B1CFF4CEC96C78FFD925720BCDDB5E0B2484428E62B29C7EE65175DFE1B7CF57C8" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString203.171.234.7@__ROYcms_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="1E7C6E42B4E6E122BFE1FFBBBBA22F382F6AEA49D877A92AE79F364641CEC19C6A798909BFF832424609DE492D768E0DF9E72DA370E5714EFE31FC6965855DF09C2CB0BE014801B1CFF4CEC96C78FFD925720BCDDB5E0B2484428E62B29C7EE65175DFE1B7CF57C8" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString11" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="1E7C6E42B4E6E122FD0DA8C6173289F3222125A32AA27B5296E365D832BE6952488AD8AD7C3B90F70D0EDD7AFA219344697C4947822E1FC09B3081F60FF0BA9529519A2A7E44728DEAD48CA8E28C2A8513AD8EA3D053A614A4C7DE4A980D4F8567F1D94A0E7ED8B8" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString11_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="1E7C6E42B4E6E122FD0DA8C6173289F3222125A32AA27B5296E365D832BE6952488AD8AD7C3B90F70D0EDD7AFA219344697C4947822E1FC09B3081F60FF0BA9529519A2A7E44728DEAD48CA8E28C2A8513AD8EA3D053A614A4C7DE4A980D4F8567F1D94A0E7ED8B8" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="1E7C6E42B4E6E122B39184052BBCDAE05D33A9599DCFD7AF9FD8EEDB44E3FBA39EE1C37898E0761A1A3A409A17D4E13379E1EF0EFC60D673F77C8C0BECA25CD069233D3949997CD8A9EE6B039E71ED142408C33B05FA4651" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="1E7C6E42B4E6E122B39184052BBCDAE05D33A9599DCFD7AF9FD8EEDB44E3FBA39EE1C37898E0761A1A3A409A17D4E13379E1EF0EFC60D673F77C8C0BECA25CD069233D3949997CD8A9EE6B039E71ED142408C33B05FA4651" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>