<?xml version="1.0" encoding="utf-8"?>
<ROYcms>
  <Config Time="2010/6/4 17:45:38">
    <web_host><![CDATA[http://www.roycms.cn/]]></web_host>
    <web_name><![CDATA[ROYcms官方站点]]></web_name>
    <web_forge><![CDATA[.html]]></web_forge>
    <upload_path><![CDATA[/App_Pic/]]></upload_path>
    <templet_language><![CDATA[UTF-8]]></templet_language>
    <templet_root><![CDATA[/APP_templet/]]></templet_root>
    <templet_file><![CDATA[default]]></templet_file>
    <date_type><![CDATA[MySqL]]></date_type>
    <logo><![CDATA[http://update.roycms.cn/images/logo.jpg]]></logo>
    <title><![CDATA[ROYcms官方站点]]></title>
    <keyword><![CDATA[ROYcms官方站点]]></keyword>
    <description><![CDATA[ROYcms官方站点]]></description>
    <copyright><![CDATA[]]></copyright>
    <constringencrypt><![CDATA[false]]></constringencrypt>
    <password><![CDATA[123]]></password>
    <filemanager_file_type><![CDATA[xml,aspx,txt,css,js,ascx,sql,cs,htm]]></filemanager_file_type>
    <sendmail_path><![CDATA[roy_web1@yahoo.cn]]></sendmail_path>
    <sendmail_password><![CDATA[xiaohui]]></sendmail_password>
    <sendmail_content><![CDATA[              
              ]]></sendmail_content>
    <filemanager_root><![CDATA[*]]></filemanager_root>
    <date_prefix><![CDATA[ROYcms_]]></date_prefix>
    <html_zip><![CDATA[false]]></html_zip>
    <html><![CDATA[true]]></html>
    <ucenter_webserver><![CDATA[http://update.roycms.cn]]></ucenter_webserver>
    <UcenterLogo><![CDATA[http://update.roycms.cn/logo.jpg]]></UcenterLogo>
    <UcenterMenu><![CDATA[扩展]]></UcenterMenu>
    <ucenter_password><![CDATA[123]]></ucenter_password>
    <guid><![CDATA[{30B82B01-C5C1-4836-ADB8-91E23373E46E}]]></guid>
    <root><![CDATA[Root]]></root>
    <version><![CDATA[2.0]]></version>
    <err_k><![CDATA[true]]></err_k>
    <error><![CDATA[true]]></error>
    <SAVE><![CDATA[确认提交填写内容并生效]]></SAVE>
  </Config>
</ROYcms>