<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.aspx" defaultProvider="RegEx"  xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
<rewrites>


  <!--自定义重写开始-->
  <!--<add name="Rewrite0" virtualUrl="~/shop/index.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/shop/Default.aspx" ignoreCase="true" />
  <add name="Rewrite1" virtualUrl="~/shop/cp-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/shop/cp.aspx?id=$1" ignoreCase="true" />
  <add name="Rewrite2" virtualUrl="~/shop/shop-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/shop/shop.aspx?id=$1" ignoreCase="true" />
  <add name="Rewrite3" virtualUrl="~/shop/help-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/shop/help.aspx?id=$1" ignoreCase="true" />
  <add name="Rewrite4" virtualUrl="~/shop/street-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/shop/shop_list.aspx?id=$1" ignoreCase="true" />
  <add name="Rewrite5" virtualUrl="~/shop/cplist-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/shop/cp_list.aspx?id=$1" ignoreCase="true" />
  <add name="Rewrite6" virtualUrl="~/shop/list-shop.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/shop/shop_list.aspx" ignoreCase="true" />
  <add name="Rewrite7" virtualUrl="~/shop/show-car-(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/shop/show_car.aspx?user_id=$1" ignoreCase="true" />-->
    
    <!--系统地址重写 请慎重 修改-->
    <add name="ROYcms_Rewrite_0" virtualUrl="~/admin/index.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/login.aspx" ignoreCase="true" />
    <add name="ROYcms_Rewrite_1" virtualUrl="~/Search.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Search.aspx" ignoreCase="true" />
    <add name="ROYcms_Rewrite_2" virtualUrl="~/Comment.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Comment.aspx" ignoreCase="true" />
    <add name="ROYcms_Rewrite_3" virtualUrl="~/Message.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Message.aspx" ignoreCase="true" />
    <add name="ROYcms_Rewrite_4" virtualUrl="~/Rss(.*).ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/rss.aspx?class=$1" ignoreCase="true" />
    <add name="ROYcms_Rewrite_5" virtualUrl="~/_Remark.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_Remark.aspx" ignoreCase="true" />
    <add name="ROYcms_Rewrite_6" virtualUrl="~/SiteMap.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/SiteMap.aspx" ignoreCase="true" />
    <add name="ROYcms_Rewrite_7" virtualUrl="~/Add.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_add.aspx" ignoreCase="true" />
    
</rewrites>
</urlrewritingnet>