<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <add name="ConnectionString" connectionString="1E7C6E42B4E6E122263EA361C190BCF401A2CDE51B53D6A1B214C77C3B6A32EC42D8EF6BD36F93BF96476717B22E64DBAEA05D12B6D75006650CB94EEE971777E1C47DA98CE1499BD0AB8CBC8A4D99F8495FF9525664A4E9D920EEE5F7228E3CFC4C8E1DE13C578B" />
    <add name="ConnectionString1" connectionString="1E7C6E42B4E6E122BFE1FFBBBBA22F382F6AEA49D877A92AE79F364641CEC19C6A798909BFF832424609DE492D768E0DF9E72DA370E5714EFE31FC6965855DF09C2CB0BE014801B1CFF4CEC96C78FFD97AB2A3F188EAED1BA712E977C9838F608715A6C54188B277" />
    <add name="nw33107_dbConnectionString" connectionString="Data Source=112.126.76.107;Initial Catalog=nw33107_db;User ID=nw33107;Password=p3i3b5s5r7"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--<sessionState mode="Custom" cookieless="true" timeout="20"/>-->
    <compilation debug="true" />
    <authentication mode="Windows" />
    <globalization requestEncoding="gb2312" responseEncoding="gb2312" />
    <customErrors mode="Off" defaultRedirect="Error.html">
    </customErrors>

  </system.web>
  
</configuration>