HTML BODY CENTER DIV#usrbar {
	FILTER: none !important; BACKGROUND: url(huise/a441168383cc739c6d81193c.jpeg) #fff repeat-x center top; COLOR: #666 !important; TEXT-DECORATION: none !important; -moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar A {
	FILTER: none !important; BACKGROUND: url(huise/a441168383cc739c6d81193c.jpeg) #fff repeat-x center top; COLOR: #666 !important; TEXT-DECORATION: none !important; -moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar A:link {
	FILTER: none !important; BACKGROUND: url(huise/a441168383cc739c6d81193c.jpeg) #fff repeat-x center top; COLOR: #666 !important; TEXT-DECORATION: none !important; -moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar A:visited {
	FILTER: none !important; BACKGROUND: url(huise/a441168383cc739c6d81193c.jpeg) #fff repeat-x center top; COLOR: #666 !important; TEXT-DECORATION: none !important; -moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar NOBR {
	FILTER: none !important; BACKGROUND: url(huise/a441168383cc739c6d81193c.jpeg) #fff repeat-x center top; COLOR: #666 !important; TEXT-DECORATION: none !important; -moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar A:hover {
	COLOR: #999 !important
}
IMG.down-arrow {
	BORDER-BOTTOM: #888888 1px solid; FILTER: gray !important; BORDER-LEFT: #888888 1px solid; BACKGROUND: url(huise/92e5ce135dee7b02dc54014b.jpeg) no-repeat 50% 50%; BORDER-TOP: #888888 1px solid; BORDER-RIGHT: #888888 1px solid
}
#hi_index {
	
}
#nav_extra .top A {
	COLOR: #666666 !important; TEXT-DECORATION: none !important
}
#nav_extra .body A {
	COLOR: #666666 !important; TEXT-DECORATION: none !important
}
BODY {
	SCROLLBAR-ARROW-COLOR: #d2d4d4; SCROLLBAR-FACE-COLOR: #f2f2f2; OVERFLOW-X: hidden; SCROLLBAR-DARKSHADOW-COLOR: #fff; SCROLLBAR-BASE-COLOR: #f2f2f2; BACKGROUND: url(huise/fe4b6325364d84204d088d17.jpeg) #505050; SCROLLBAR-HIGHLIGHT-COLOR: #fff; SCROLLBAR-SHADOW-COLOR: #d2d4d4; SCROLLBAR-TRACK-COLOR: #fff; SCROLLBAR-3DLIGHT-COLOR: #d2d4d4
}
BODY DIV.line {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(huise/67f32ba12407ed9146106441.jpg) repeat-x; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
BODY A {
	COLOR: #8a622f; FONT-SIZE: 12px; TEXT-DECORATION: none
}
BODY A:link {
	COLOR: #8a622f; FONT-SIZE: 12px; TEXT-DECORATION: none
}
BODY A:visited {
	COLOR: #8a622f; FONT-SIZE: 12px; TEXT-DECORATION: none
}
BODY A:hover {
	BACKGROUND: #eee; COLOR: #666; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
#main {
	MARGIN: 0px 0px -30px; BACKGROUND: url(huise/ebaae8d86a077a0d10df9b17.jpeg) repeat-y center top
}
#header {
	BACKGROUND: url(huise/fe4b6325364d84204d088d17.jpeg) #505050 1px -1px; HEIGHT: 200px
}
#header DIV.lc {
	BACKGROUND: url(huise/da8ef88a45509733c9fc7a65.jpeg) no-repeat center bottom
}
#header DIV.rc {
	
}
#header DIV.tit {
	LINE-HEIGHT: 24px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; COLOR: #958570; FONT-SIZE: 20px; TOP: 80px; FONT-WEIGHT: normal; LEFT: 120px
}
#header DIV.tit A.titlink {
	COLOR: #958570; FONT-SIZE: 18px; TEXT-DECORATION: none
}
#header DIV.tit A.titlink:visited {
	COLOR: #958570; FONT-SIZE: 18px; TEXT-DECORATION: none
}
#header DIV.desc {
	COLOR: #958570; FONT-SIZE: 12px; TOP: 100px; LEFT: 120px
}
#tabline {
	DISPLAY: none; TOP: 140px
}
#tab {
	TOP: 178px; LEFT: 60px
}
#tab A {
	FONT-WEIGHT: bold
}
#tab A {
	LINE-HEIGHT: 20px; COLOR: #eee4be; FONT-SIZE: 12px
}
#tab A.on {
	LINE-HEIGHT: 20px; COLOR: #eee4be; FONT-SIZE: 12px
}
#tab A.on:link {
	LINE-HEIGHT: 20px; COLOR: #eee4be; FONT-SIZE: 12px
}
#tab A.on:visited {
	LINE-HEIGHT: 20px; COLOR: #eee4be; FONT-SIZE: 12px
}
#tab SPAN {
	DISPLAY: none
}
#tab A:link {
	COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#tab A:visited {
	COLOR: #fff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#tab A:hover {
	BACKGROUND: #392b18; COLOR: #fff; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#tab2 {
	COLOR: #4c4c4c
}
#tab2 SPAN {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
#tab2 A {
	COLOR: #4c4c4c; FONT-SIZE: 12px
}
#tab2 A:link {
	COLOR: #4c4c4c; FONT-SIZE: 12px
}
.stage {
	TEXT-ALIGN: center; BACKGROUND: url(huise/403f2735f7ffed94d1a2d37a.jpeg) no-repeat center bottom
}
.stagepad {
	MARGIN: 0px auto 50px; PADDING-LEFT: 15px !important; WIDTH: 780px
}
#layout {
	POSITION: relative; MARGIN: 0px auto 51px; WIDTH: 880px
}
#layout TD.c1t1 {
	PADDING-TOP: 10px
}
#layout TD.c2t1 {
	PADDING-TOP: 10px
}
#layout TD.c2t3 {
	PADDING-TOP: 10px
}
#layout TD.c3t1 {
	PADDING-TOP: 10px
}
#layout TD.c3t3 {
	PADDING-TOP: 10px
}
#layout TD.c3t5 {
	PADDING-TOP: 10px
}
#layout TD.c2t2 {
	WIDTH: 10px; BACKGROUND: url(huise/0e6a38010e1ff11c1c958342.jpg) repeat-y center center
}
#layout TD.c3t2 {
	WIDTH: 10px; BACKGROUND: url(huise/0e6a38010e1ff11c1c958342.jpg) repeat-y center center
}
#layout TD.c3t4 {
	WIDTH: 10px; BACKGROUND: url(huise/0e6a38010e1ff11c1c958342.jpg) repeat-y center center
}
#layout TD.c1t1 {
	
}
#layout TD.c2t1 {
	
}
#layout TD.c2t3 {
	
}
#layout TD.c2t2 {
	
}
#layout TD.c3t1 {
	
}
#layout TD.c3t3 {
	
}
#layout TD.c3t5 {
	
}
#comm_info {
	TEXT-ALIGN: left; FONT-FAMILY: Tahoma; COLOR: #46412d
}
#comm_info DIV.line {
	LINE-HEIGHT: 8px; MARGIN-TOP: 5px; DISPLAY: none; BORDER-TOP: #34403c 1px dashed
}
.mod {
	MARGIN-BOTTOM: 20px
}
.modhandle {
	CURSOR: move
}
.modth {
	BACKGROUND: #eee; HEIGHT: 20px
}
.modhead {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.modopt {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; PADDING-TOP: 4px
}
.modtit {
	COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
A.modtit {
	COLOR: #000
}
A.modtit:visited {
	COLOR: #000
}
.modtitlink {
	COLOR: #000; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
A.modtitlink {
	COLOR: #000; TEXT-DECORATION: none
}
A.modtitlink:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A.modtitlink:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.modact {
	COLOR: #666; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.modact:link {
	COLOR: #666; TEXT-DECORATION: underline
}
A.modact:visited {
	COLOR: #666
}
.modbox {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.modtl {
	
}
.modtc {
	
}
.modtr {
	
}
.modbl {
	
}
.modbc {
	
}
.modbr {
	
}
.modlabel {
	COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.c2t3 .modbox {
	BACKGROUND: url(huise/fafbff065982956103088142.jpg) repeat-x
}
.c3t3 .modbox {
	BACKGROUND: url(huise/fafbff065982956103088142.jpg) repeat-x
}
.c3t5 .modbox {
	BACKGROUND: url(huise/fafbff065982956103088142.jpg) repeat-x
}
.c2t3 .modth {
	
}
#m_blog DIV.tit {
	TEXT-ALIGN: left; BORDER-LEFT: #654b22 5px solid; TEXT-INDENT: 10px; FONT-FAMILY: Tahoma; COLOR: #46412d; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
#m_blog DIV.tit A {
	FONT-FAMILY: Tahoma; COLOR: #46412d; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#m_blog DIV.tit A:visited {
	FONT-FAMILY: Tahoma; COLOR: #46412d; TEXT-DECORATION: none
}
#m_blog DIV.tit A:hover {
	COLOR: #46412d
}
#m_blog DIV.date {
	TEXT-ALIGN: left; BORDER-LEFT: #000 5px solid; MARGIN: -3px 0px 8px; PADDING-LEFT: 10px; FONT-FAMILY: Tahoma; COLOR: #a6a8a7; FONT-SIZE: 11px
}
#m_blog * {
	LINE-HEIGHT: 20px !important
}
#m_blog DIV.cnt {
	LINE-HEIGHT: 20px; FONT-FAMILY: Tahoma; COLOR: #46412d; FONT-SIZE: 12px
}
#m_blog DIV.cnt A {
	LINE-HEIGHT: 20px; FONT-FAMILY: Tahoma; COLOR: #46412d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#m_blog DIV.cnt A:visited {
	LINE-HEIGHT: 20px; FONT-FAMILY: Tahoma; COLOR: #46412d; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#m_blog DIV.cnt A:hover {
	LINE-HEIGHT: 20px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #46412d; TEXT-DECORATION: underline
}
#m_blog DIV.cnt PRE {
	BORDER-LEFT: #cccccc 8px solid; LINE-HEIGHT: 22px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; FONT-FAMILY: Tahoma; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
#m_blog DIV.more {
	TEXT-ALIGN: right; MARGIN: 0px 12px 0px 0px
}
#m_blog DIV.more A {
	FONT-WEIGHT: bold
}
#m_blog DIV.more A:visited {
	
}
#m_blog DIV.more A:hover {
	
}
#m_blog DIV.line {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; BACKGROUND: url(huise/4420c62c5dc836f68b139942.jpg) repeat-x left center
}
#m_blog DIV.none {
	PADDING-BOTTOM: 100px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; FONT-SIZE: 12px; PADDING-TOP: 100px
}
#mod_friendStat {
	COLOR: #666
}
#mod_friendStat .modth {
	
}
#mod_friendStat .modtit {
	COLOR: #000 !important
}
#m_friendStat .forFrdAction {
	BORDER-BOTTOM: #ffdedf 1px solid; BORDER-LEFT: #ffdedf 1px solid; BORDER-TOP: #ffdedf 1px solid; BORDER-RIGHT: #ffdedf 1px solid
}
#m_friendStat A {
	COLOR: #46412d; TEXT-DECORATION: none
}
#m_friendStat A:visited {
	COLOR: #46412d; TEXT-DECORATION: none
}
#m_friendStat A:hover {
	COLOR: #46412d; TEXT-DECORATION: underline
}
#m_friendStat TD {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: url(huise/0408d2163135d05021a4e942.jpg) repeat-x; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#m_event_mine {
	COLOR: #4e700a !important
}
#m_event_friends {
	COLOR: #4e700a !important
}
#mod_useronline .frd {
	MARGIN-LEFT: 10px
}
#cmtArea A {
	FONT-WEIGHT: bold
}
#m_friblog DIV.item TD .user {
	FONT-WEIGHT: bold
}
