<?xml version="1.0"?>
<configuration>
	<!--url重写配置节点-->
	<configSections>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<urlrewritingnet configSource="Rewrite.config"/>
	<!-- appSettings网站信息配置-->
	<!-- 数据库连接字符串-->
	<connectionStrings>
    <add name="ConnectionString" connectionString="1E7C6E42B4E6E122BFE1FFBBBBA22F382F6AEA49D877A92AE79F364641CEC19C6A798909BFF832424609DE492D768E0DF9E72DA370E5714EFE31FC6965855DF09C2CB0BE014801B1CFF4CEC96C78FFD97AB2A3F188EAED1BA712E977C9838F608715A6C54188B277" />
  </connectionStrings>
	<system.web>
        <pages>
            <controls>
                <add tagPrefix="CMS" assembly="ROYcms.Templet" namespace="ROYcms.Templet" />
            </controls>
        </pages>
        <authentication mode="Forms"/>
		<compilation debug="true">
	</compilation>
		<customErrors mode="Off" defaultRedirect="Error.html">
		</customErrors>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
		<!--<httpHandlers>
            <add verb="*" path="*.aspx" type="ROYcms.Templet.TempletHandler,ROYcms.Templet"/>
        </httpHandlers>-->
	</system.web>
</configuration>
