<?xml version="1.0" encoding="utf-8"?>
<ROYcms>
  <Config Time="2013/7/19 15:12:39">
    <merchantacct_id><![CDATA[198726345975642124345]]></merchantacct_id>
    <merchantacct_key><![CDATA[asdasdkasdaksadtyyttt]]></merchantacct_key>
    <zhifubao_id><![CDATA[roycms@qq.com]]></zhifubao_id>
    <zhifubao_pid><![CDATA[2088002394991593]]></zhifubao_pid>
    <zhifubao_key><![CDATA[380ycljesqa1w3mm9ihdctw5i6kl2urh]]></zhifubao_key>
    <config><![CDATA[Pay.config]]></config>
  </Config>
</ROYcms>