<?xml version="1.0" encoding="utf-8"?>
<ROYcms>
  <Config Time="2013-03-07 19:33:18">
    <sendmail_path><![CDATA[roycms@qq.com]]></sendmail_path>
    <sendmail_password><![CDATA[xiaohui123456]]></sendmail_password>
    <sendmail_host><![CDATA[smtp.qq.com]]></sendmail_host>
    <config><![CDATA[Email.config]]></config>
  </Config>
</ROYcms>