<?xml version="1.0" encoding="utf-8"?>
<ROYcms>
  <Config Time="2013-03-07 19:53:17">
    <web_host><![CDATA[http://www.roycms.cn/]]></web_host>
    <web_name><![CDATA[ROYcms官方站点]]></web_name>
    <title><![CDATA[ROYcms官方站点]]></title>
    <logo><![CDATA[/administrator/images/logo.png]]></logo>
    <keyword><![CDATA[ROYcms官方站点]]></keyword>
    <description><![CDATA[ROYcms官方站点]]></description>
    <copyright><![CDATA[ROYcms官方站点]]></copyright>
    <templet_language><![CDATA[UTF-8]]></templet_language>
    <templet_root><![CDATA[/APP_templet/]]></templet_root>
    <templet_file><![CDATA[default]]></templet_file>
    <date_type><![CDATA[Sql]]></date_type>
    <constringencrypt><![CDATA[true]]></constringencrypt>
    <date_prefix><![CDATA[ROYcms_]]></date_prefix>
    <html><![CDATA[true]]></html>
    <html_zip><![CDATA[false]]></html_zip>
    <web_forge><![CDATA[.html]]></web_forge>
    <new_url_model><![CDATA[show]]></new_url_model>
    <upload_path><![CDATA[/CMS_UFile/]]></upload_path>
    <filemanager_root><![CDATA[*]]></filemanager_root>
    <filemanager_file_type><![CDATA[xml,aspx,txt,css,js,ascx,sql,cs,htm]]></filemanager_file_type>
    <guid><![CDATA[{30B82B01-C5C1-4836-ADB8-91E23373E46E}]]></guid>
    <root><![CDATA[Root]]></root>
    <version><![CDATA[2.0]]></version>
    <update_server><![CDATA[http://www.roycms.cn/]]></update_server>
    <err_k><![CDATA[true]]></err_k>
    <error><![CDATA[true]]></error>
    <config><![CDATA[Index.config]]></config>
  </Config>
</ROYcms>