<?xml version="1.0"?>

<configuration>  
   <configSections>   
          <section name="RewriterConfig" type="ROYcms.URLRewriter.Config.RewriterConfigSerializerSectionHandler,ROYcms.URLRewriter"/>   
   </configSections>
	<!-- 数据库连接字符串-->
	<connectionStrings>
		<add name="ConnectionString203.171.234.7@__ROYcms" connectionString="1E7C6E42B4E6E122BFE1FFBBBBA22F382F6AEA49D877A92AE79F364641CEC19C6A798909BFF832424609DE492D768E0DF9E72DA370E5714EFE31FC6965855DF09C2CB0BE014801B1CFF4CEC96C78FFD925720BCDDB5E0B2484428E62B29C7EE65175DFE1B7CF57C8"/>
		<add name="ConnectionString11" connectionString="1E7C6E42B4E6E122FD0DA8C6173289F3222125A32AA27B5296E365D832BE6952488AD8AD7C3B90F70D0EDD7AFA219344697C4947822E1FC09B3081F60FF0BA9529519A2A7E44728DEAD48CA8E28C2A8513AD8EA3D053A614A4C7DE4A980D4F8567F1D94A0E7ED8B8"/>


    <add name="ConnectionString" connectionString="1E7C6E42B4E6E122B39184052BBCDAE05D33A9599DCFD7AF9494749D53A54FDF638E29FA5F8EF3FDEAB6BA5444FF9A2E26CCE1EAD29EEF36CAA51DBF51F4B660FE903726B2839051C69EAB1AA8548477B1E5895A53359C0D9796C757907E1EBD9F87ECCE19D12516476AE925C3A216F55608822F2B156F1271B6F543BB41D57FAC4BC6D8067F931D487FC78727B6BEF541749D9AE6EAAE36766E6E5CA68F6308"/>
   </connectionStrings>
	
	<RewriterConfig>
		<Rules>
      <RewriterRule>
        <LookFor>~/index.aspx</LookFor>
        <SendTo>~/index.aspx?index=Index</SendTo>
      </RewriterRule>
			<!--文章核心重写 -->
			<RewriterRule>
				<LookFor>~/Channel-(\d+).aspx</LookFor>
				<SendTo>~/index.aspx?index=Channel&amp;type=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Channel-(\d+)-(\d+).aspx</LookFor>
				<SendTo>~/index.aspx?index=Channel&amp;type=$1&amp;page=$2</SendTo>
			</RewriterRule>
      <RewriterRule>
        <LookFor>~/ChannelList-(\d+)-(\d+).aspx</LookFor>
        <SendTo>~/index.aspx?index=ChannelList&amp;type=$1&amp;page=$2</SendTo>
      </RewriterRule>
			<RewriterRule>
				<LookFor>~/Article-(\d+).aspx</LookFor>
				<SendTo>~/index.aspx?index=Article&amp;id=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Article-(\d+)-(\d+).aspx</LookFor>
				<SendTo>~/index.aspx?index=Article&amp;id=$1&amp;page=$2</SendTo>
			</RewriterRule>
      <!--商城核心重写 -->
      <RewriterRule>
        <LookFor>~/Goods-(\d+).aspx</LookFor>
        <SendTo>~/shop/Goods.aspx?index=Goods&amp;id=$1</SendTo>
      </RewriterRule>
		</Rules>
	</RewriterConfig>
	
	
	<system.web>
		<pages>
			<controls>
				<add tagPrefix="CMS" assembly="ROYcms.Controls" namespace="ROYcms.Controls"/>
			</controls>
		</pages>
		<authentication mode="Forms"/>
		<compilation debug="true">
		</compilation>
		<customErrors mode="Off" defaultRedirect="Error.html">
		</customErrors>
		<httpModules>
			<add type="ROYcms.URLRewriter.ModuleRewriter, ROYcms.URLRewriter" name="ROYcms.ModuleRewriter"/>
		</httpModules>
	</system.web>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
