<?xml version="1.0" encoding="utf-8"?>
<ROYcms>
  <Config Time="2012/12/29 23:06:40">
    <merchantacct_id><![CDATA[198726345975642124345]]></merchantacct_id>
    <merchantacct_key><![CDATA[asdasdkasdaksadtyyttt]]></merchantacct_key>
    <zhifubao_id><![CDATA[roycms@qq.com]]></zhifubao_id>
    <zhifubao_key><![CDATA[2345asdasdsa666asd6asd6da6d6a6d]]></zhifubao_key>
    <config><![CDATA[Pay.config]]></config>
  </Config>
</ROYcms>