<?xml version="1.0" encoding="utf-8"?>
<ROYcms_TP>
  <!--  投票间隔时间 秒为单位  -->
  <TP_time>12</TP_time>
  <!--  是否限制同一IP重复投票  -->
  <TP_IP_Y>false</TP_IP_Y>
  <!--  管理投票登陆密码  -->
  <TP_password>123456</TP_password>
  <!--  参与投票的项目图片存放路径  -->
  <TP_upfile>~/APP_pic/TP/</TP_upfile>
  <!--  参与投票的项目图片宽和高  -->
  <TP_upfile_w_h>180,180</TP_upfile_w_h>
  <!--  投票完成之后返回的页面  -->
  <TP_Redirect>index.aspx</TP_Redirect>
  <!--  版权  -->
  <copyright><![CDATA[©版权所有 2009-2020年 ROYcms通用投票系统 版本V 1.0 <a href="http://www.roycms.cn">http://www.roycms.cn</a>]]></copyright>
</ROYcms_TP>