<?xml version="1.0" encoding="utf-8"?>
<ROYcms>
  <Config Time="2013/1/23 17:05:51">
    <login_success_url><![CDATA[/ucenter/default.aspx]]></login_success_url>
    <ucenter_webserver><![CDATA[/ucenter/default.aspx]]></ucenter_webserver>
    <ucenter_logo><![CDATA[/administrator/images/logo.gif]]></ucenter_logo>
    <ucenter_menu><![CDATA[]]></ucenter_menu>
    <config><![CDATA[Ucenter.config]]></config>
  </Config>
</ROYcms>