<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.html" defaultProvider="RegEx"  xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
<rewrites>

    <!--系统地址重写 请慎重 修改 说明详见http://help.roycms.cn/-->
    <add name="ROYcms_system_01" virtualUrl="~/admin/index.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/login.aspx" ignoreCase="true" />
    <add name="ROYcms_system_02" virtualUrl="~/admin/index.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/login.aspx" ignoreCase="true" />
    <add name="ROYcms_system_1" virtualUrl="~/Search.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Search.aspx" ignoreCase="true" />
    <add name="ROYcms_system_2" virtualUrl="~/Comment.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Comment.aspx" ignoreCase="true" />
    <add name="ROYcms_system_3" virtualUrl="~/Message.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Message.aspx" ignoreCase="true" />
    <add name="ROYcms_system_4" virtualUrl="~/Rss(.*).ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/rss.aspx?class=$1" ignoreCase="true" />
    <add name="ROYcms_system_5" virtualUrl="~/_Remark.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_Remark.aspx" ignoreCase="true" />
    <add name="ROYcms_system_6" virtualUrl="~/SiteMap.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/SiteMap.aspx" ignoreCase="true" />
    <add name="ROYcms_system_7" virtualUrl="~/Add.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_add.aspx" ignoreCase="true" />
    <add name="ROYcms_system_8" virtualUrl="~/help.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/help.aspx" ignoreCase="true" />
    <add name="ROYcms_system_9" virtualUrl="~/Login.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_login.aspx" ignoreCase="true" />
    <add name="ROYcms_system_10" virtualUrl="~/Reg.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_reg.aspx" ignoreCase="true" />
    <add name="ROYcms_system_11" virtualUrl="~/validateCode.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/validateCode.ashx" ignoreCase="true" />
    <add name="ROYcms_system_12" virtualUrl="~/_Ratings.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_Ratings.aspx" ignoreCase="true" />
    
</rewrites>
</urlrewritingnet>