@charset "utf-8";
/* CSS Document */
body{padding:0; margin:0; font-family:'宋体',Verdana, Geneva, sans-serif;font-size: 12px;}
ul,li,form,h1,h2,h3,h4,h5,h6,p{padding:0; margin:0; list-style-type:none;}