<?xml version="1.0"?>

<configuration>  
   <configSections>   
          <section name="RewriterConfig" type="ROYcms.URLRewriter.Config.RewriterConfigSerializerSectionHandler,ROYcms.URLRewriter"/>   
   </configSections>
	<!-- 数据库连接字符串-->
	<connectionStrings>
    <add name="ConnectionString11" connectionString="1E7C6E42B4E6E122BFE1FFBBBBA22F382F6AEA49D877A92AE79F364641CEC19C6A798909BFF832424609DE492D768E0DF9E72DA370E5714EFE31FC6965855DF09C2CB0BE014801B1CFF4CEC96C78FFD97AB2A3F188EAED1BA712E977C9838F608715A6C54188B277"/>

    <add name="ConnectionString" connectionString="1E7C6E42B4E6E122BFE1FFBBBBA22F382F6AEA49D877A92A7517589B950304F3FC68B827BF46EFAC17D9E6E5EA81E2E740513B74065AEB3ACF34E70D13CEFD12BE3FD219A7D16A92767EA2ECD1A458B80E4C15015B1F5B2C6F98ED116B4B6A2BCF7002045DA21D66"/>

    
  </connectionStrings>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/index.aspx</LookFor>
        <SendTo>~/CMS.aspx?index=Index</SendTo>
      </RewriterRule>
      <!--文章核心重写 -->
      <RewriterRule>
        <LookFor>~/Channel-(\d+).aspx</LookFor>
        <SendTo>~/CMS.aspx?index=Channel&amp;type=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Channel-(\d+)-(\d+).aspx</LookFor>
        <SendTo>~/CMS.aspx?index=Channel&amp;type=$1&amp;page=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/ChannelList-(\d+)-(\d+).aspx</LookFor>
        <SendTo>~/CMS.aspx?index=ChannelList&amp;type=$1&amp;page=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Article-(\d+).aspx</LookFor>
        <SendTo>~/CMS.aspx?index=Article&amp;id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Article-(\d+)-(\d+).aspx</LookFor>
        <SendTo>~/CMS.aspx?index=Article&amp;id=$1&amp;page=$2</SendTo>
      </RewriterRule>
      <!--商城核心重写 -->
      <RewriterRule>
        <LookFor>~/Goods-(\d+).aspx</LookFor>
        <SendTo>~/shop/Goods.aspx?index=Goods&amp;id=$1</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
	
	
	<system.web>
    <!--maxRequestLength限制文件上传大小400M   兼容4.0   requestValidationMode="2.0" <httpRuntime  executionTimeout="90" maxRequestLength="4000960" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
 -->
   
    <pages>
			<controls>
				<add tagPrefix="CMS" assembly="ROYcms.Controls" namespace="ROYcms.Controls"/>
			</controls>
		</pages>
		<authentication mode="Forms"/>
		<compilation debug="true">
		</compilation>
		<customErrors mode="Off" defaultRedirect="Error.html">
		</customErrors>
		<httpModules>
			<add type="ROYcms.URLRewriter.ModuleRewriter, ROYcms.URLRewriter" name="ROYcms.ModuleRewriter"/>
		</httpModules>
	</system.web>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
