<?xml version="1.0" encoding="utf-8"?>
<ROYcms>
  <Config Time="2010-2-20 23:04:06">
    <Title><![CDATA[ROYcms.Blog]]></Title>
    <Logo><![CDATA[/app_Blog/images/logo.gif]]></Logo>
    <Keyword><![CDATA[C#开源Blog系统，.net开源Blog系统]]></Keyword>
    <Description><![CDATA[简单的开源贴吧系统]]></Description>
    <Copyright><![CDATA[  <a href="">关于Blog</a>
                      -
                      <a href="">网站地图</a>
                      -
                      <a href="">联系方式</a>
                      -
                      <a href="">广告服务</a>
                      -
                      <a href="">版权和隐私</a>
                      -
                      <a href="">招纳英才</a>
                      -
                      <a href="">友情网站</a>
]]></Copyright>
    <Menu><![CDATA[  <a href="" rel="nofollow" class=gb1>聚焦</a>
  <a href="" rel="nofollow" class=gb1>论坛</a>
  <a href="" ref="nofollow" class=gb1>问答</a>
  <a href="" rel="nofollow" class=gb1>博客</a>
  <a href="" rel="nofollow" class=gb1>部落</a>
  <a href="javascript:void(0)" class=gb3>
  <font style="height:22px;vertical-align:top">更多</font><small>▼</small></a>

]]></Menu>
    <Ads><![CDATA[     <img class="fs-redeem-img" src="198-226.gif" />
]]></Ads>
    <Root><![CDATA[/App_Blog/]]></Root>
    <TagType><![CDATA[Blog]]></TagType>
    <GetUserDateUrl><![CDATA[http://fx265.roycms.cn/administrator/App_Api/_GetUserDate.aspx]]></GetUserDateUrl>
    <SAVE><![CDATA[保存]]></SAVE>
  </Config>
</ROYcms>