<?xml version="1.0" encoding="utf-8"?>
<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="index.aspx" defaultProvider="RegEx"  xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
<rewrites>
    
    <!--系统博客模块重写http://help.roycms.cn/blog-->
    <add name="ROYcms_blog_0" virtualUrl="~/blog-(.*)/default.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_blog/index.aspx?user_id=$1" ignoreCase="true" />
    <add name="ROYcms_blog_1" virtualUrl="~/blog-(.*)/blog/(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_blog/blog.aspx?user_id=$1&amp;id=$2" ignoreCase="true" />


    <!--系统论坛模块地址重写http://help.roycms.cn/Community-->
    <add name="ROYcms_Community_0" virtualUrl="~/Community/default.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_Community/index.aspx" ignoreCase="true" />
    <add name="ROYcms_Community_2" virtualUrl="~/Community/AddCommunity.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_Community/ADD_CommMsgs.aspx" ignoreCase="true" />
    <add name="ROYcms_Community_3" virtualUrl="~/Community/CommMsgs-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_Community/CommMsgs.aspx?id=$1" ignoreCase="true" />

    <!--系统问答模块地址重写http://help.roycms.cn/ask-->
    <add name="ROYcms_Ask_0" virtualUrl="~/Ask/default.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_Ask/index.aspx" ignoreCase="true" />
    <add name="ROYcms_Ask_1" virtualUrl="~/Ask/AskList.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_Ask/AskList.aspx" ignoreCase="true" />
    <add name="ROYcms_Ask_2" virtualUrl="~/Ask/AddAsk.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_Ask/AddAsk.aspx" ignoreCase="true" />
    <add name="ROYcms_Ask_3" virtualUrl="~/Ask/Ask-(.*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/APP_Ask/Ask.aspx?id=$1" ignoreCase="true" />
    
    <!--系统地址重写 请慎重 修改 说明详见http://help.roycms.cn/Api/-->
    <add name="ROYcms_system_0" virtualUrl="~/admin/index.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/login.aspx" ignoreCase="true" />
    <add name="ROYcms_system_1" virtualUrl="~/Search.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Search.aspx" ignoreCase="true" />
    <add name="ROYcms_system_2" virtualUrl="~/Comment.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Comment.aspx" ignoreCase="true" />
    <add name="ROYcms_system_3" virtualUrl="~/Message.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/Message.aspx" ignoreCase="true" />
    <add name="ROYcms_system_4" virtualUrl="~/Rss(.*).ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/rss.aspx?class=$1" ignoreCase="true" />
    <add name="ROYcms_system_5" virtualUrl="~/_Remark.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_Remark.aspx" ignoreCase="true" />
    <add name="ROYcms_system_6" virtualUrl="~/SiteMap.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/SiteMap.aspx" ignoreCase="true" />
    <add name="ROYcms_system_7" virtualUrl="~/Add.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_add.aspx" ignoreCase="true" />
    <add name="ROYcms_system_8" virtualUrl="~/help.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/help.aspx" ignoreCase="true" />
    <add name="ROYcms_system_9" virtualUrl="~/Login.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_login.aspx" ignoreCase="true" />
    <add name="ROYcms_system_10" virtualUrl="~/Reg.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/App_Api/_reg.aspx" ignoreCase="true" />
    <add name="ROYcms_system_11" virtualUrl="~/validateCode.ashx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/administrator/validateCode.ashx" ignoreCase="true" />
    <!--@@@@-->
</rewrites>
</urlrewritingnet>