<?xml version="1.0"?>
<configuration>
  <!--url重写配置节点-->
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ROYcms.UI.Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <urlrewritingnet configSource="Rewrite.config" />
  <!-- appSettings网站信息配置-->
  <appSettings>
    <!-- 站点唯一标识GUID-->
    <add key="GUID" value="{30B82B01-C5C1-4836-ADB8-91E23373E46E}" />
    <!-- 站点物理路径-->
    <add key="Root" value="" />
    <!-- 用户中心站地址 无设置成 index -->
    <add key="UcenterWebserver" value="http://update.roycms.cn/" />
    <!-- 用户中心站 密码-->
    <add key="UcenterPassword" value="roycms~!@#$%" />
    <!-- 网站域名 -->
    <add key="web_host" value="http://www.roycms.cn/" />
    <!-- 网站名称-->
    <add key="web_name" value="ROYcms官方站点" />
    <!-- 静态生成文件扩展名 -->
    <add key="web_forge" value=".html" />
    <!-- FCK 编辑器上传文件目录-->
    <add key="WEBSITE_UP_FILES" value="~/App_Pic/" />
    <!-- 模版编码 -->
    <add key="templet_language" value="utf-8" />
    <!-- 模版主目录 -->
    <add key="templet_root" value="~/APP_templet/" />
    <!-- 当前模版组文件夹 -->
    <add key="templet_file" value="default" />
    <!-- 数据库类型 -->
    <add key="DateType" value="SqlServer" />
    <!-- 数据库连接字符是否加密-->
    <add key="ConStringEncrypt" value="false" />
    <!-- 管理员密码 默认管理员名称 admin-->
    <add key="password" value="123" />
    <!-- 是否启用静态浏览  -->
    <add key="HTML" value="false" />
    <!-- 模版生成是否进行ZIP压缩 -->
    <add key="HTML_zip" value="false" />
    <!-- 数据库前缀 -->
    <add key="date_prefix" value="ROYcms_" />
    <!-- 文件管理器默认主目录 -->
    <add key="FileManager_root" value="*" />
    <!-- 文件管理器 允许在线编辑的扩展名文件 -->
    <add key="FileManager_file_type" value="xml,aspx,txt,css,js,ascx,sql,cs,htm" />
    <!-- 登陆注册页面的LOGO 地址 -->
    <add key="logo" value="http://update.roycms.cn/images/logo.jpg" />
    <!-- 网站首页标题-->
    <add key="title" value="" />
    <!-- 网站首页 关键字 -->
    <add key="keyword" value="" />
    <!-- 网站首页描述 -->
    <add key="Description" value="" />
    <!-- 网站版权信息 -->
    <add key="Copyright" value="" />
    <!-- 系统版本 -->
    <add key="Version" value="2.0" />
    <!-- 错误报告 -->
    <add key="Error" value="false" />
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source=203.171.234.7;User ID=sa;Password=langziwenhua~!@#$%;Initial Catalog=ROYcms___;Pooling=true" />
    <add name="ConnectionString" connectionString="Data Source=127.0.0.1;User ID=sa;Password=123;Initial Catalog=ROYcms;Pooling=true" />
  </connectionStrings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="CMS" assembly="ROYcms.Templet" namespace="ROYcms.Templet" />
      </controls>
    </pages>
    <authentication mode="Forms" />
    <compilation debug="true">
    </compilation>
    <customErrors mode="Off" defaultRedirect="Error.html">
    </customErrors>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <!--<httpHandlers>
            <add verb="*" path="*.aspx" type="ROYcms.Templet.TempletHandler,ROYcms.Templet"/>
        </httpHandlers>-->
  </system.web>
  <applicationSettings>
    <ROYcms.UI.Admin.Properties.Settings>
      <setting name="ROYcms_UI_Admin_WC_ROYcms_user_ROYcms_user" serializeAs="String">
        <value>http://www.beijingdiban.cn/administrator/WebService/ROYcms_user.asmx</value>
      </setting>
    </ROYcms.UI.Admin.Properties.Settings>
  </applicationSettings>
</configuration>